# Loading

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

## Regex

In [4]:
df['review'] = df.review.replace("<br />", "", regex=True).replace("[^a-zA-Z0-9 ]", "", regex=True)

In [5]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production The filming tech...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically theres a family where a little boy J...  negative
4  Petter Matteis Love in the Time of Money is a ...  positive

## Encoding label

In [6]:
df['sentiment'] = df.sentiment.map({'positive': 1, 'negative': 0})

In [7]:
df.head()

                                              review  sentiment
0  One of the other reviewers has mentioned that ...          1
1  A wonderful little production The filming tech...          1
2  I thought this was a wonderful way to spend ti...          1
3  Basically theres a family where a little boy J...          0
4  Petter Matteis Love in the Time of Money is a ...          1

In [8]:
df['review'] = df['review'].apply(str.lower)

In [9]:
df.head()

                                              review  sentiment
0  one of the other reviewers has mentioned that ...          1
1  a wonderful little production the filming tech...          1
2  i thought this was a wonderful way to spend ti...          1
3  basically theres a family where a little boy j...          0
4  petter matteis love in the time of money is a ...          1

In [10]:
df.to_csv('df_clean.csv')