In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data_processsed.csv')

In [3]:
df.head()

,Unnamed: 0,topic,text,title
0,0,Student,In het kader van kernfusie op aarde MAAK JE EI...,uranium U bomb Hbomb nuclear plant like get on...
1,1,InvestmentBanking,"Just so you know, this blog isn't about being ...",urlLink war think Korea one Im US could countr...
2,2,Education,"I I dont remember his name, but I remember the...",Mathew Autism would first classroom teacher ki...
3,3,Science,so there they were in the cotton candy shack. ...,john bo jangle got really everyone like cuz co...
4,4,Student,By TIRI!!! I was sitting in the police statio...,didnt went told day could saw started made guy...

In [4]:
df = df[['title', 'text']]

In [12]:
df.title.isnull().sum()

2

In [14]:
df.dropna(subset = ['title'], inplace = True)

In [15]:
df.title.isnull().sum()

0

In [5]:
df.head()

,title,text
0,uranium U bomb Hbomb nuclear plant like get on...,In het kader van kernfusie op aarde MAAK JE EI...
1,urlLink war think Korea one Im US could countr...,"Just so you know, this blog isn't about being ..."
2,Mathew Autism would first classroom teacher ki...,"I I dont remember his name, but I remember the..."
3,john bo jangle got really everyone like cuz co...,so there they were in the cotton candy shack. ...
4,didnt went told day could saw started made guy...,By TIRI!!! I was sitting in the police statio...

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [16]:
vector = TfidfVectorizer().fit_transform(df.title)

In [17]:
vector.shape

(2607, 4737)

In [18]:
from sklearn.metrics.pairwise import cosine_similarity

In [19]:
model = cosine_similarity(vector.toarray())

In [39]:
def recommend(title, n = 10):
    index = df[df.title == title].index[0]
    distances = sorted(list(enumerate(model[index])), reverse = True, key = lambda x: x[1])[:n]
    
    return [
        [df.iloc[blog[0], :].title]
        for blog in distances
        if df.iloc[blog[0], :].title != title
    ]

In [41]:
title = df.title[100]

print(f"Input: {title}")
print(f"Output:")
for t in recommend(title, 50):
    print(t)

Input: Chavez Venezuela like people something said two American journalist US
Output:
['said see thing life US know world year something class']
['job work year US programmer people American company like say']
['job work year programmer US people American like company say']
['water Im get day two like something even dont roach']
['American Americans something like world think really student dream time']
['America US world Iraq American war Bush people United States']
['Iraq Abu Ghraib said American US government Arab Mr war']
['US American Bush people Penn policy see political administration flag']
['Reagan people Ronald never know American said one going country']
['people get pot US American marijuana drug war paper grow']
['America US world American Bush Americans year administration value Iraq']
['said government China Mahathir official MPs US June candidate two']
['one would C like R dont didnt Id film something']
['sound word say vowel schwa two tongue like American pronunciation']
['like Im right America people world value American job war']
['US new war American Bush world regime global military Iraq']
['world know say life need something people dont corporate get']
['world know say life need something people dont corporate get']
['world know say life need something people dont corporate get']
['time like go still holiday part let people im something']
['Europeans American Americans thing people one like believe much time']
['US European Criticism Answer America American world dont would power']
['year America people thing Ive American one way time great']
['Reagan US government Ronald new American president America would legacy']
['dont know want something thing im go reason maybe people']
['war Iraq US Iraqi level American power political Americans UN']
['called would people get call one come two dont make']
['would old people girl one concert u come two get']
['US military oil war Iraq Gulf Bush American administration Defense']
['said little life year went thing something good tea seemed']
['one world like time urlLink Im Read good see two']
['Christian Israel support American fundamentalist Bush Right East US part']
['urlLink get said delegation one dress two like state better']
['States empire United US power rule military global world American']
['Iraq US American Iraqi Gray defeat country war million historic']
['get one two back Im night minute like time take']
['said year would US Jahjah terrorist people say security terrorism']
['Song urlLink think read job Im like didnt something book']
['liberal must American government conservative Clinton like word people u']
['like sneeze time would two say even know one could']
['Keene Penny back like get say something around dont mean']
['policy Bush Iraq people world President war u American nation']
['policy Bush Iraq people world President war u nation American']
['policy Bush Iraq people world war President u nation American']
['said terrorist Palestinian government would June Syria child US people']
['Scene Gilgamesh Enkidu two forest king trapper go shot Two']
['movie theater line people youre food front see two like']
['urlLink kid film time get know like back played two']
['think get like would go said say could youre people']