In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

,Unnamed: 0,topic,text
0,0,Student,In het kader van kernfusie op aarde: MAAK JE ...
1,1,InvestmentBanking,"Just so you know, this blog isn't about being ..."
2,2,Education,"I I donÃ¢ÂÂt remember his name, but I remem..."
3,3,Science,so there they were in the cotton candy shack. ...
4,4,Student,By: TIRI!!! I was sitting in the police sta...

In [4]:
df = df[['topic', 'text']]

In [5]:
df.text[50][:500]

'Ã¢Â\x80Â\x9cIÃ¢Â\x80Â\x99m sorry, what?Ã¢Â\x80Â\x9d I mumbled as I looked up, meeting eyes with my waitress. IÃ¢Â\x80Â\x99m not entirely sure how long she had been standing there or how many times she had asked her question. Ã¢Â\x80Â\x9cOh um, right. Could I get a mocha?Ã¢Â\x80Â\x9d  Ã¢Â\x80Â\x9cSure thing, Hon. No problem,Ã¢Â\x80Â\x9d she replied in a motherly voice as she turned to head back to the counter.  Ã¢Â\x80Â\x9cOh, and a little extra chocolate, please!Ã¢Â\x80Â\x9d I called after her. It wasnÃ¢Â\x80Â\x99t that I was a chocolate freak. I just had to c'

In [6]:
df.text = df.text.replace('[^a-zA-Z?/\'\": ]', '', regex = True)

In [7]:
df.text[50][:500]

'Im sorry what? I mumbled as I looked up meeting eyes with my waitress Im not entirely sure how long she had been standing there or how many times she had asked her question Oh um right Could I get a mocha?  Sure thing Hon No problem she replied in a motherly voice as she turned to head back to the counter  Oh and a little extra chocolate please I called after her It wasnt that I was a chocolate freak I just had to cover up the bite of the espresso Too much of that and my stomach was done  The ca'

In [8]:
df.reset_index(inplace = True)

In [9]:
df.head()

   index              topic                                               text
0      0            Student  In het kader van kernfusie op aarde:  MAAK JE ...
1      1  InvestmentBanking  Just so you know this blog isn't about being p...
2      2          Education  I  I dont remember his name but I remember the...
3      3            Science  so there they were in the cotton candy shack j...
4      4            Student  By: TIRI    I was sitting in the police statio...

In [10]:
from gensim.models.doc2vec import Doc2Vec, TaggedDocument
from nltk import word_tokenize

In [11]:
def tag_row(row):
    return TaggedDocument(word_tokenize(row['text']), [row['index']])

In [12]:
df['details'] = df.apply(lambda row: tag_row(row), axis = 1)

In [13]:
df.head()

,index,topic,text,details
0,0,Student,In het kader van kernfusie op aarde: MAAK JE ...,"([In, het, kader, van, kernfusie, op, aarde, :..."
1,1,InvestmentBanking,Just so you know this blog isn't about being p...,"([Just, so, you, know, this, blog, is, n't, ab..."
2,2,Education,I I dont remember his name but I remember the...,"([I, I, dont, remember, his, name, but, I, rem..."
3,3,Science,so there they were in the cotton candy shack j...,"([so, there, they, were, in, the, cotton, cand..."
4,4,Student,By: TIRI I was sitting in the police statio...,"([By, :, TIRI, I, was, sitting, in, the, polic..."

In [14]:
model = Doc2Vec(df.details, vector_size=5, window=2, min_count=1, workers=4)