# Loading

In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
df = pd.read_csv('df_details.csv')

In [3]:
df.shape

(15212, 8)

In [4]:
df.head()

,Unnamed: 0,Unnamed: 0.1,username,data,global rank,india rank,rating,country
0,0,0,aryanc403,"{'username': 'aryanc403', 'githubUrl': None, '...",120,1,2841.96,India
1,1,1,dganguli1997,"{'username': 'dganguli1997', 'githubUrl': 'htt...",5019,501,2053.90,India
2,2,2,rajat_2548,"{'username': 'rajat_2548', 'githubUrl': None, ...",13295,1501,1856.61,India
3,3,3,Anish0909,"{'username': 'Anish0909', 'githubUrl': None, '...",9200,1001,1930.58,India
4,4,4,ap1008,"{'username': 'ap1008', 'githubUrl': None, 'twi...",222,2,2707.79,India

In [5]:
df = df[['username', 'data', 'global rank', 'india rank', 'rating', 'country']]

In [6]:
df.columns = ['username', 'data', 'global', 'india', 'rating', 'country']

In [7]:
df.country.value_counts()

India    15212
Name: country, dtype: int64

In [8]:
df.drop('country', axis = 1, inplace = True)

In [9]:
df.head()

,username,data,global,india,rating
0,aryanc403,"{'username': 'aryanc403', 'githubUrl': None, '...",120,1,2841.96
1,dganguli1997,"{'username': 'dganguli1997', 'githubUrl': 'htt...",5019,501,2053.90
2,rajat_2548,"{'username': 'rajat_2548', 'githubUrl': None, ...",13295,1501,1856.61
3,Anish0909,"{'username': 'Anish0909', 'githubUrl': None, '...",9200,1001,1930.58
4,ap1008,"{'username': 'ap1008', 'githubUrl': None, 'twi...",222,2,2707.79

In [10]:
df.sort_values('india', inplace = True)

In [11]:
df.head()

,username,data,global,india,rating
0,aryanc403,"{'username': 'aryanc403', 'githubUrl': None, '...",120,1,2841.96
4,ap1008,"{'username': 'ap1008', 'githubUrl': None, 'twi...",222,2,2707.79
5,LosingNowLosingLate,"{'username': 'LosingNowLosingLate', 'githubUrl...",230,3,2701.02
9,taran_1407,"{'username': 'taran_1407', 'githubUrl': None, ...",264,4,2676.75
13,anil9717,"{'username': 'anil9717', 'githubUrl': None, 't...",275,5,2667.42

# Processing

In [12]:
df.data[10]

"{'username': 'AVIRAL_T', 'githubUrl': None, 'twitterUrl': None, 'linkedinUrl': 'https://linkedin.com/in/aviral-tiwari-b69207196', 'profile': {'reputation': 8, 'aboutMe': '', 'websites': ['https://codeforces.com/profile/Continuous'], 'ranking': 78467, 'userAvatar': 'https://s3-us-west-1.amazonaws.com/s3-lc-upload/assets/default_avatar.jpg', 'realName': 'Aviral Tiwari', 'countryName': 'India'}, 'languageStats': [{'languageName': 'C++', 'problemsSolved': 449}], 'skillStats': {'advanced': [{'tagName': 'Data Stream', 'tagSlug': 'data-stream', 'problemsSolved': 2}, {'tagName': 'Game Theory', 'tagSlug': 'game-theory', 'problemsSolved': 2}, {'tagName': 'Rolling Hash', 'tagSlug': 'rolling-hash', 'problemsSolved': 1}, {'tagName': 'Backtracking', 'tagSlug': 'backtracking', 'problemsSolved': 13}, {'tagName': 'Bitmask', 'tagSlug': 'bitmask', 'problemsSolved': 3}, {'tagName': 'Quickselect', 'tagSlug': 'quickselect', 'problemsSolved': 3}, {'tagName': 'Dynamic Programming', 'tagSlug': 'dynamic-programming', 'problemsSolved': 81}, {'tagName': 'Divide and Conquer', 'tagSlug': 'divide-and-conquer', 'problemsSolved': 7}, {'tagName': 'Trie', 'tagSlug': 'trie', 'problemsSolved': 3}, {'tagName': 'Union Find', 'tagSlug': 'union-find', 'problemsSolved': 14}, {'tagName': 'Binary Indexed Tree', 'tagSlug': 'binary-indexed-tree', 'problemsSolved': 5}, {'tagName': 'Segment Tree', 'tagSlug': 'segment-tree', 'problemsSolved': 4}, {'tagName': 'Monotonic Stack', 'tagSlug': 'monotonic-stack', 'problemsSolved': 10}, {'tagName': 'Monotonic Queue', 'tagSlug': 'monotonic-queue', 'problemsSolved': 1}, {'tagName': 'Topological Sort', 'tagSlug': 'topological-sort', 'problemsSolved': 6}, {'tagName': 'Shortest Path', 'tagSlug': 'shortest-path', 'problemsSolved': 3}], 'intermediate': [{'tagName': 'Tree', 'tagSlug': 'tree', 'problemsSolved': 32}, {'tagName': 'Binary Tree', 'tagSlug': 'binary-tree', 'problemsSolved': 29}, {'tagName': 'Hash Table', 'tagSlug': 'hash-table', 'problemsSolved': 84}, {'tagName': 'Ordered Set', 'tagSlug': 'ordered-set', 'problemsSolved': 6}, {'tagName': 'Graph', 'tagSlug': 'graph', 'problemsSolved': 21}, {'tagName': 'Greedy', 'tagSlug': 'greedy', 'problemsSolved': 67}, {'tagName': 'Binary Search', 'tagSlug': 'binary-search', 'problemsSolved': 37}, {'tagName': 'Depth-First Search', 'tagSlug': 'depth-first-search', 'problemsSolved': 43}, {'tagName': 'Breadth-First Search', 'tagSlug': 'breadth-first-search', 'problemsSolved': 32}, {'tagName': 'Recursion', 'tagSlug': 'recursion', 'problemsSolved': 4}, {'tagName': 'Sliding Window', 'tagSlug': 'sliding-window', 'problemsSolved': 21}, {'tagName': 'Bit Manipulation', 'tagSlug': 'bit-manipulation', 'problemsSolved': 25}, {'tagName': 'Math', 'tagSlug': 'math', 'problemsSolved': 52}, {'tagName': 'Design', 'tagSlug': 'design', 'problemsSolved': 15}, {'tagName': 'Iterator', 'tagSlug': 'iterator', 'problemsSolved': 2}], 'fundamental': [{'tagName': 'Array', 'tagSlug': 'array', 'problemsSolved': 257}, {'tagName': 'Matrix', 'tagSlug': 'matrix', 'problemsSolved': 26}, {'tagName': 'String', 'tagSlug': 'string', 'problemsSolved': 123}, {'tagName': 'Simulation', 'tagSlug': 'simulation', 'problemsSolved': 27}, {'tagName': 'Enumeration', 'tagSlug': 'enumeration', 'problemsSolved': 9}, {'tagName': 'Sorting', 'tagSlug': 'sorting', 'problemsSolved': 58}, {'tagName': 'Stack', 'tagSlug': 'stack', 'problemsSolved': 28}, {'tagName': 'Queue', 'tagSlug': 'queue', 'problemsSolved': 2}, {'tagName': 'Linked List', 'tagSlug': 'linked-list', 'problemsSolved': 8}, {'tagName': 'Two Pointers', 'tagSlug': 'two-pointers', 'problemsSolved': 33}]}, 'submitStats': {'acSubmissionNum': [{'difficulty': 'All', 'count': 442, 'submissions': 501}, {'difficulty': 'Easy', 'count': 119, 'submissions': 124}, {'difficulty': 'Medium', 'count': 272, 'submissions': 316}, {'difficulty': 'Hard', 'count': 51, 'submissions': 61}]}}"

In [40]:
def get_problem_set(data):
    try:
        data = data.replace('\'', '\"')
        data = data.replace("\\'")
        data = data.replace('None', 'null')
        data = json.loads(data)

        problem_set = set()

        for label in ['advanced', 'intermediate', 'fundamental']:
            if label in data['skillStats'].keys():
                for problem in data['skillStats'][label]:
                    problem_set.add(problem['tagSlug'])

        problem_set = list(problem_set)

        return problem_set
    except:
        return np.NaN

In [41]:
df['problems'] = df.data.apply(get_problem_set)

In [44]:
df[df.problems.isnull()].data[336]

'{\'username\': \'Nikhil_IITP\', \'githubUrl\': None, \'twitterUrl\': None, \'linkedinUrl\': None, \'profile\': {\'reputation\': 18, \'aboutMe\': "I am a final year undergrad at IIT Patna. I am very much interested in software development field. ACM ICPC\'20 Regionalist. Advanced to Google Codejam\'21 round 2. Codechef max rating 2195 (5star).", \'websites\': [\'https://www.linkedin.com/in/nikhil-kumar-a89589179\', \'http://codeforces.com/profile/nikhil_kr \', \'https://www.codechef.com/users/nikiitp18\'], \'ranking\': 128863, \'userAvatar\': \'https://assets.leetcode.com/users/avatars/avatar_1643097125.png\', \'realName\': \'Nikhil Kumar\', \'countryName\': \'India\'}, \'languageStats\': [{\'languageName\': \'C++\', \'problemsSolved\': 343}, {\'languageName\': \'Java\', \'problemsSolved\': 1}], \'skillStats\': {\'advanced\': [{\'tagName\': \'Game Theory\', \'tagSlug\': \'game-theory\', \'problemsSolved\': 4}, {\'tagName\': \'Rolling Hash\', \'tagSlug\': \'rolling-hash\', \'problemsSolved\': 2}, {\'tagName\': \'Backtracking\', \'tagSlug\': \'backtracking\', \'problemsSolved\': 10}, {\'tagName\': \'Bitmask\', \'tagSlug\': \'bitmask\', \'problemsSolved\': 6}, {\'tagName\': \'Quickselect\', \'tagSlug\': \'quickselect\', \'problemsSolved\': 3}, {\'tagName\': \'Dynamic Programming\', \'tagSlug\': \'dynamic-programming\', \'problemsSolved\': 61}, {\'tagName\': \'Divide and Conquer\', \'tagSlug\': \'divide-and-conquer\', \'problemsSolved\': 9}, {\'tagName\': \'Union Find\', \'tagSlug\': \'union-find\', \'problemsSolved\': 8}, {\'tagName\': \'Suffix Array\', \'tagSlug\': \'suffix-array\', \'problemsSolved\': 1}, {\'tagName\': \'Binary Indexed Tree\', \'tagSlug\': \'binary-indexed-tree\', \'problemsSolved\': 3}, {\'tagName\': \'Segment Tree\', \'tagSlug\': \'segment-tree\', \'problemsSolved\': 3}, {\'tagName\': \'Monotonic Stack\', \'tagSlug\': \'monotonic-stack\', \'problemsSolved\': 10}, {\'tagName\': \'Monotonic Queue\', \'tagSlug\': \'monotonic-queue\', \'problemsSolved\': 1}, {\'tagName\': \'Topological Sort\', \'tagSlug\': \'topological-sort\', \'problemsSolved\': 5}, {\'tagName\': \'Shortest Path\', \'tagSlug\': \'shortest-path\', \'problemsSolved\': 1}], \'intermediate\': [{\'tagName\': \'Tree\', \'tagSlug\': \'tree\', \'problemsSolved\': 36}, {\'tagName\': \'Binary Tree\', \'tagSlug\': \'binary-tree\', \'problemsSolved\': 30}, {\'tagName\': \'Hash Table\', \'tagSlug\': \'hash-table\', \'problemsSolved\': 57}, {\'tagName\': \'Ordered Set\', \'tagSlug\': \'ordered-set\', \'problemsSolved\': 5}, {\'tagName\': \'Graph\', \'tagSlug\': \'graph\', \'problemsSolved\': 15}, {\'tagName\': \'Greedy\', \'tagSlug\': \'greedy\', \'problemsSolved\': 48}, {\'tagName\': \'Binary Search\', \'tagSlug\': \'binary-search\', \'problemsSolved\': 30}, {\'tagName\': \'Depth-First Search\', \'tagSlug\': \'depth-first-search\', \'problemsSolved\': 35}, {\'tagName\': \'Breadth-First Search\', \'tagSlug\': \'breadth-first-search\', \'problemsSolved\': 24}, {\'tagName\': \'Recursion\', \'tagSlug\': \'recursion\', \'problemsSolved\': 10}, {\'tagName\': \'Sliding Window\', \'tagSlug\': \'sliding-window\', \'problemsSolved\': 9}, {\'tagName\': \'Bit Manipulation\', \'tagSlug\': \'bit-manipulation\', \'problemsSolved\': 19}, {\'tagName\': \'Math\', \'tagSlug\': \'math\', \'problemsSolved\': 53}, {\'tagName\': \'Design\', \'tagSlug\': \'design\', \'problemsSolved\': 6}, {\'tagName\': \'Brainteaser\', \'tagSlug\': \'brainteaser\', \'problemsSolved\': 1}], \'fundamental\': [{\'tagName\': \'Array\', \'tagSlug\': \'array\', \'problemsSolved\': 185}, {\'tagName\': \'Matrix\', \'tagSlug\': \'matrix\', \'problemsSolved\': 23}, {\'tagName\': \'String\', \'tagSlug\': \'string\', \'problemsSolved\': 85}, {\'tagName\': \'Simulation\', \'tagSlug\': \'simulation\', \'problemsSolved\': 14}, {\'tagName\': \'Enumeration\', \'tagSlug\': \'enumeration\', \'problemsSolved\': 9}, {\'tagName\': \'Sorting\', \'tagSlug\': \'sorting\', \'problemsSolved\': 48}, {\'tagName\': \'Stack\', \'tagSlug\': \'stack\', \'problemsSolved\': 22}, {\'tagName\': \'Queue\', \'tagSlug\': \'queue\', \'problemsSolved\': 3}, {\'tagName\': \'Linked List\', \'tagSlug\': \'linked-list\', \'problemsSolved\': 22}, {\'tagName\': \'Two Pointers\', \'tagSlug\': \'two-pointers\', \'problemsSolved\': 28}]}, \'submitStats\': {\'acSubmissionNum\': [{\'difficulty\': \'All\', \'count\': 344, \'submissions\': 425}, {\'difficulty\': \'Easy\', \'count\': 112, \'submissions\': 123}, {\'difficulty\': \'Medium\', \'count\': 170, \'submissions\': 202}, {\'difficulty\': \'Hard\', \'count\': 62, \'submissions\': 100}]}}'

In [37]:
df.dtypes

username     object
data         object
global        int64
india         int64
rating      float64
problems     object
dtype: object